<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="true"
  bootstrap="./vendor/autoload.php"

>
  <logging>
    <log type="coverage-clover" target="clover.xml"/>
    <log type="coverage-html" target="cloverReport" lowUpperBound="35"
         highLowerBound="70"/>
  </logging>
  <testsuites>
    <testsuite name="backup-exclude-list-generator">
      <directory>./Test/</directory>
    </testsuite>

  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
